<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Page</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full flex flex-col min-h-full">
  <header class="w-full bg-slate-300 text-slate-600">
    <div class="mx-auto flex lg:flex-row flex-col lg:justify-between items-center w-full lg:w-9/12">
      <a href="/" class="brand-name lg:w-full font-semibold text-xl uppercase lg:p-4 p-2">
        Daily journal
      </a>
      <nav class="flex flex-row lg:w-full justify-between text-base lg:p-4 p-2">
        <p class="px-4"><a class="text-green-600 font-semibold" href="/compose">Compose</a></p>
        <p class="px-4"><a href="/about">About us</a></p>
        <p class="px-4"><a href="/contact">Contact us</a></p>
      </nav>
    </div>
  </header>